<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <title>Soufiane's careers</title>
    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom:16px;
      }
    </style>
  </head>

  <body>
    {%include 'nav.html'%}
    <img class="img-fluid"id="banner" src="https://careers-website.soufianeamghar1.repl.co/static/banner2.jpg"
      height="320">
      <div class="container">
    <h1 class="text-center mt-2 mb-4">{{company_name}} careers</h1>
    
       <div class="row mb-16">
         <div class="col-md-6">
        <p class="lead mt-2 mb-4">
          

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum in ipsum eu condimentum. Ut mattis magna nunc, nec elementum eros laoreet at. Phasellus vulputate nulla sit amet tortor bibendum, vel lacinia justo varius. Phasellus feugiat interdum placerat. Nunc posuere ligula velit, ac rhoncus odio aliquam vel. Nam nec hendrerit lectus. Nulla elementum, nulla quis congue blandit, tortor metus euismod est, non dictum ex felis nec ante. Praesent pellentesque molestie semper.

        </p>
         </div>
         <div class="d-none d-md-block col-md-6">
         <img class="img-fluid"id="banner" src="/static/people.jpg"
      style="height:320px;border-radius:4px;">
         </div>
       </div>

    <h2>Job openings:</h2>
    <p class="bodytxt">

        {%for job in jobs%}
          {%include 'itemjob.html'%}
        {%endfor%}
      
    </p>

    <div class="text-center">
    <a href="mailto:hello@carreersoffer.com?subject=Question%20about%20Job%20openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0AMy%20questions%3A%20%3Cyour%20questions%20here%3E%0D%0A" class="btn btn-primary btn-lg">Contact Us</a>
     
    </div>
    </div>


       {%include 'footer.html'%}

    
  </body>




  
</html>